@model ReservationsManagement.Models.Customer

@{
    ViewData["Title"] = "Profile | Reg";
    Layout = "CustomerLayout";
}

@if (ViewBag.IsLogin == true)
{
    <partial name="/Views/Shared/HeaderCustomer.cshtml" />
}
else
{
    <partial name="/Views/Shared/HeaderGuest.cshtml" />
}
<!--=============================
        BREADCRUMB START
    ==============================-->
<section class="page_breadcrumb" style="background: url(images/counter_bg.jpg);">
    <div class="breadcrumb_overlay">
        <div class="container">
            <div class="breadcrumb_text">
                <h1>user dashboard</h1>
                <ul>
                    <li><a href="/customer/home" >home</a></li>
                    <li><a href="#">dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--=============================
    BREADCRUMB END
==============================-->
<!--=========================
    DASHBOARD START
==========================-->

<section class="dashboard mt_100 xs_mt_70 mb_100 xs_mb_70">
    <div class="container">
        <div class="dashboard_area">
            <div class="row">
                <div class="col-xl-3 col-lg-4 wow fadeInUp" data-wow-duration="1s">
                    <div class="dashboard_menu">
                        <div class="dasboard_header">
                            <div class="dasboard_header_img">
                                <img src="@Model.Image" alt="user" class="img-fluid w-100">
                                <label for="upload"><i class="far fa-camera"></i></label>
                                <input type="file" id="upload" hidden>
                            </div>
                            <h2>@Model.Name</h2>
                        </div>
                        <ul>

                            <li>
                                <a href="/customer/profile"><span><i class="fas fa-user"></i></span>Info</a>
                            </li>
                            <li>
                                <a href="@Url.Action("OrderList", "Customer")">
                                    <span><i class="fas fa-bags-shopping"></i></span>
                                    Order
                                </a>
                            </li>

                            <li>
                                <a href="dashboard_review.html"><span><i class="fas fa-star"></i></span> Reviews</a>
                            </li>
                            <li>
                                <a href="dashboard_change_password.html">
                                    <span>
                                        <i class="fas fa-user-lock"></i>
                                    </span> Change Password
                                </a>
                            </li>
                            <li><a href="/customer/logout"><span> <i class="fas fa-sign-out-alt"></i></span> Logout</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 wow fadeInUp" data-wow-duration="1s">
                    <div class="dashboard_content">
                        <div class="dashboard_body">
                            <h3>
                                Personal Information
                                <a class="dash_add_new_address" href="/customer/profile/edit">edit</a>
                            </h3>

                            <div class="dash_personal_info">
                                <div class="personal_info_text">
                                    <p><span>Name:</span> @Model.Name</p>
                                    <p><span>Email:</span> @Model.Email</p>
                                    <p><span>Phone:</span> @Model.Phone</p>
                                    <p><span>Gender:</span> @Model.Gender</p>
                                    <p><span>Date of Birth:</span> @Model.Dob?.ToString("yyyy-MM-dd")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========================
    DASHBOARD END
==========================-->
